before_script:
  - echo "before script"

stages:
  - build
  - test
  - deploy
  - clean

build_job:
  stage: build
  only:
    - branches
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\build.ps1"
  artifacts:
    paths:
      - .\output\Release\Quanti.Utils.*.nupkg
      - .\output\Release\Quanti.WPF.Utils.*.nupkg
      - .\output\Release\Quanti.Utils.S20.*.nupkg
    expire_in: 1 week

deploy_job:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - cd .\\scripts
    - "powershell -file .\\deploy.ps1"
  when: manual
  environment:
    name: repository.quanti.cz
    url: https://repository.quanti.cz/#browse/browse/components:QuantiNET
  allow_failure: false

clean_job:
  stage: clean
  variables:
    GIT_STRATEGY: none
  only:
    - branches
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\clean.ps1"

test_build:
  stage: test
  variables:
    GIT_STRATEGY: none
  only:
    - branches
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\test.ps1"