before_script:
  - echo "before script"

stages:
  - build
  - test
  - deploy
  - clean

build_job:
  stage: build
  only:
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\build.ps1"
  when: manual

deploy_job:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - cd .\\scripts
    - "powershell -file .\\deploy.ps1"
  when: manual
  environment:
    name: repository.quanti.cz
    url: https://repository.quanti.cz/#browse/browse/components:QuantiNET

clean_job:
  stage: clean
  only:
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\clean.ps1"
  when: manual

test_build:
  stage: test
  variables:
    GIT_STRATEGY: none
  only:
    - web
  script:
    - cd .\\scripts
    - "powershell -file .\\test.ps1"
  when: manual